::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(149, 149, 149, 0.4);
  background-clip: content-box;
  min-height: 28px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(149, 149, 149, 0.4);
  border: 1px solid transparent;
  border-radius: 4px;
}
